#left {
    top: 0px;
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    border: 1px solid black;
}

#right {
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    border: 1px solid green;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    !margin: auto;
}

#table-div {
    padding-left: 80px;
    !right: 0px;
    border: 1px solid blue;
    float: left;
}

body {
    margin: 0px;
    padding: 0px;
}

.my-legend {
    border: 1px solid grey;
    top : 0px;
    margin: 0px;
    float: left;
    clear: left;
}

.my-legend .legend-title {
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 120%;
}

.my-legend .legend-scale ul {
    margin: 0;
    padding-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 120%;
    list-style: none;
    padding-left: 0;
    line-height: 18px;
    padding-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    padding-right: 5px;
    padding-left: 0;
    border: 1px solid #999;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}
