.left {
    top: 0;
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
}

.right {
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.table-div {
    display: block;
}

.board{
    margin: auto;
    margin-top: 5%
}

body {
    margin: 0;
    padding: 0;
}

.my-legend {
    display: block;
    position: relative;
    padding-top: 20px;

}

.legend-labels {
    list-style: none;
}

.legend-labels li {
    float: left;
    margin-right: 10px;
}

.legend-labels span {
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

.legend-labels .correct {
    background-color: #00ff00;

}

.list-correct {
    margin-left: 0;
}

.legend-labels .danger {
    background-color: #ff0000;
}

.list-danger{
    margin-left: 10%;
}

.legend-labels .unattempted {
    background-color: #ffffff;
}

.list-unattempted {
    margin-left: 11%;
}

.legend-labels .current {
    background-color: #ffff00;
}

.list-current{
    position: relative;
    margin-left: 12%;
}
.legend-title{
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.clearer{
    height: 0;
    clear: both;
}
